
body{
    font-size: 14px;
    background: #EFF2F6;
    line-height: 1.4;
}

ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
.navbar-light .navbar-brand{
    padding: 0px;
}

[class*='col-']{
    padding-left: 6px !important;
    padding-right: 6px !important;
}

.navbar{
    padding: 12px;
}

.text-center{
    text-align: center;
}

.text-left{
    text-align: left;
}

.text-right{
    text-align: right;
}

.py-4{
    padding: 20px 0;
}

.navbar-brand.py-1{
    padding: 0!important;
}

.site-logo{
    max-height: 36px;
}


.header{
    padding: 8px 0;
    background: #FFFFFF;
}

.header .navbar-brand.py-1{
    color:#494855;
    font-size: 18;
}

footer .navbar-brand.py-1{
    color:#E0E1EF;
    font-size: 16px;
}

footer .site-logo{
    max-height: 48px;
}


footer .bg-gray-200 {
    background: #34495E!important;
    color: rgba(255, 255, 255, 0.8)!important;
}

footer .text-dark,
footer .text-muted,
footer .input-group-append .border-left-0 {
    color: rgba(255, 255, 255, 0.8)!important;
}

footer .border-dark,
footer .input-group-append .border-left-0{
    border-color: #f1f1f1!important;
}



.section-header{
    background-color: #ffffff;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.section-header p{
    margin-bottom: 0;
    font-weight: 600;
}

.division-stats .section-header{
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 0px;
    border-bottom: 1px solid #EFF2F6;
}

.division-stats .section-header p{
    font-size: 16px;
}

.division-stats .section-hero{
    background-color: #ffffff;
    margin-bottom: 10px;
}

.contry-stats{
    margin-bottom: 20px;
}

.custom-tooltip p{
    margin-bottom: 1px;
}

.graph-box{
    background: #ffffff;
    border-radius: 6px;
}

.stats-graph{
    padding: 15px 10px;
    margin-bottom: 10px;
}

.graph-box .graph-title{
    font-size: 14px;
    letter-spacing: 0.8px;
    font-weight: 500;
    padding: 10px 20px;
    border-bottom: 1px solid #EFF2F6;
    margin-bottom: 10px;
}

.new-stats{
    display: block;
    list-style: none;
    padding: 10px 0;
    margin: 0;
}

.new-stats li{
    display: inline-block;
    width: 12%;
    vertical-align: middle;
}

.new-stats li:first-child{
    width: 20%;
}

.new-stats li i{
    font-size: 10px;
    margin-right: 5px;
}

.new-stats li span{
    font-size: 14px;
}

.new-stats li.infected i{
    color: #ffc107;
}

.new-stats li.cured i{
    color: #28a745;
}

.new-stats li.death i{
    color: #dc3545;
}

.new-stats li.info i{
    color: #17a2b8;
}

.stat-section{
    margin-top: 1px;
    background: #ffffff;
}

.statistic-table .row{
    margin: 0 auto;
}

.overall-report>div{
    background: #ffffff;
    border-radius: 6px;
    margin-bottom: 12px;
}

.overall-report>div:last-child{
    margin-bottom: 0;
}

#current-map{
    background: #ffffff;
    border-radius: 6px;
}

.overall-report .last-updated{
    font-size: 14px;
    font-weight: 500;
    padding: 10px 20px;
    border-bottom: 1px solid #EFF2F6;
    color: #AEAED5;
    margin-bottom: 0;
}

.stats-box{
    padding: 30px 20px;
    align-items: center;
}

.pie-map .stats-box{
    padding-bottom: 20px;
}

.stats-box .stats-title{
    color: rgb(73, 73, 85);
    margin-bottom: 0px;
    margin-top: 10px;
    font-weight: 700;
    font-size: 18px;
}

.stats-box .stats-info{
    font-weight: 700;
    line-height: 1.2;
    color: #222;
    font-size: 48px;
    margin-bottom: 0;
    letter-spacing: 1px;
}

.overall-infected .stats-box .stats-info{
    color: #ffc107;
}

.overall-recovered .stats-box .stats-info{
    color: #28a745;
}

.overall-death .stats-box .stats-info{
    color: #dc3545;
}

.overall-tests .stats-box .stats-info{
    color: #17a2b8;
}

.pie-map .stats-box{
    padding-left: 10px;
    padding-right: 10px;
}

.help-hotline .stats-box{
    padding: 20px;
}

.hotline-number{
    padding: 0;
    margin: 0;
    list-style: none;
}

.hotline-number .institute{
    margin-bottom: 15px;
}

.hotline-number .institute:last-child{
    margin-bottom: 0;
}

.hotline-number .institute span{
    display: block;
}

.hotline-number .institute .name{
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 5px;
    letter-spacing: .7px;
    color: rgb(73, 73, 85);
}

.hotline-number .institute .telephone a{
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
    color: #00A650;
}

.hotline-number .institute .telephone a:hover{
    color: rgb(2, 99, 49);
}

.area-list .last-updated{
    text-transform: capitalize;
}

.overall-report.right-sidebar-2{
    margin-top: 25px;
}

#BD_XXX_District_locator_map,
#DistrictMap{
    cursor: pointer;
}

#fk-home{
    min-height: 600px;
}

.map-color.hover-color path{
    fill:#938779;
    stroke: #938779;
}

#DistrictMap{
    margin-left: -18%;
}


g.cases-top-1 path{
    fill: #ba0000;
    stroke: #ba0000;
}

g.cases-top-2 path{
    fill: #FF645B;
    stroke: #FF645B;
}

g.cases-top-3 path{
    fill: #FFA196;
    stroke: #FFA196;
}

.cases-dist-top-1{
    cursor: pointer;
    fill: #ba0000;
}

.cases-dist-top-2{
    cursor: pointer;
    fill: #FF645B;
}

.cases-dist-top-3{
    cursor: pointer;
    fill: #FF8B80;
}

.cases-dist-top-4{
    cursor: pointer;
    fill: #FFC2B0;
}

.cases-dist-top-5{
    cursor: pointer;
    fill:#FFEAE5;
}

.cases-dist-top-1:hover,
.cases-dist-top-2:hover,
.cases-dist-top-3:hover,
.cases-dist-top-4:hover,
.cases-dist-top-5:hover {
    fill:#fca521;
    stroke: #fca521;
}

.map-tab-nav{
    padding: 0 20px;
    border-bottom: 1px solid #EFF2F6;
}

#current-map .map-tab{
    display: inline-block;
    cursor: pointer;
    padding: 8px 8px 8px;
    margin-left: 15px;
    margin-bottom: -1px;
    margin-right: 5px;
    border-bottom: 1px solid transparent;
}

#current-map .map-tab:hover{
    color: rgb(26, 51, 131);
}

.division-map{
    padding: 10px 20px 20px;
}

.district-map-box{
    padding: 5px 20px 20px;
}

.filter-box ul{
    list-style: none;
    display: inline-block;
    margin: 0;
}

.filter-box ul li{
    display: inline-block;
    margin-right: 15px;
    cursor: pointer;
    padding: 0;
    font-size: 13px;
    text-transform: capitalize;
}

.filter-box ul li:hover,
.filter-box ul li.active{
    border-bottom: 1px solid rgb(33, 73, 204);
    color: rgb(26, 51, 131);
}

.dist-text{
    font-weight: 400;
    font-size: 10px;
}

.district #district,
.division #division,
.stats #stats{
    border-bottom: 1px solid rgb(33, 73, 204);
    color: rgb(33, 73, 204);
}

.dist-count{
    display: inline;
    font-size: 12px;
    font-weight: 400;
}

.show-counter .dist-name{
    display: none;
}

.show-name .dist-count{
    display: none;
}

.active-color .dist-count,
.active-color .dist-name{
    display: inline;
    font-size: 12px;
    font-weight: 500;
    fill: rgb(7, 110, 245);
}

.copyright-text{
    line-height: 48px;
    margin-bottom: 0;
}

.table-title-head{
    font-size: 14px;
    letter-spacing: 0.8px;
    font-weight: 500;
    margin-top: 25px;
    margin-bottom: 5px;
    text-align: center;
    color: #A05195;
}

table .title{
    text-align:left;
}

.div-table table {
    font-size: 12px;
}

.div-table table th,
.div-table table td{
    padding: 2px!important;
}

table .infected,
table .newinfected,
table .recovered,
table .newrecovered,
table .death,
table .newdeath,
table .case-numeric {
    text-align: right;
}

table .newinfected,
table .newrecovered,
table .newdeath {
    color: red;
}

.div-table table .infected{
    color: #FBBC23;
}

.div-table table .recovered{
    color: #28a745;
}

.div-table table .death{
    color: #dc3545;
}

table tbody tr:hover{
    background-color:#EFF2F6;
}

.table-notice{
    font-size: 10px;
    text-align: right;
    margin-bottom: 4px;
    font-style: italic;
}

.text-md-right{
    text-align: right;
}

.division-stats{
    background: rgba(112, 170, 255, 0.78);
    padding: 10px 0 30px;
}

.overall-info{
    text-align: center;
    padding: 20px 0;
}

.overall-info li{
    width: 15%;
    display: inline-block;
    text-align: center;
}

.overall-info li .title{
    display: block;
    line-height: 36px;
    text-align: center;
    border-radius: 50%;
    font-size: 36px;
    font-weight: 500;
}

.overall-info li.infected .title{
    color: #ffc107;
}

.overall-info li.recovered .title{
    color: #28a745;
}

.overall-info li.death .title{
    color: #dc3545;
}

.overall-info li.newcases .title{
    color: #17a2b8;
}

@media (min-width: 768px ) and ( max-width: 900px) { 
    .new-stats li{
        width: 20%;
    }

    .left-sidebar>div{
        display: inline-block;
        width: 50%;
        border-left: 1px solid #E9E5E0;
    }

    .left-sidebar>div:last-child{
        display: none;
    }

    .overall-active-case{
        margin-top: 10px;
    }
}



/* mobile device */
@media (max-width: 767.98px) {

    .left-sidebar>div{
        display: inline-block;
        width: 50%;
        border-left: 1px solid #E9E5E0;
    }

    .dist-text{
        font-size: 11px;
    }

    .left-sidebar>div:last-child{
        width: 100%;
        margin-bottom: 10px;
    }

    .hotline-number .institute span{
        display: inline-block;
    }

    .hotline-number .institute .name{
        margin-right: 10px;
    }

    .hotline-number .institute .telephone a{
        font-size: 16px;
    }

    .hotline-number .institute{
        margin-bottom: 10px;
    }

    .left-sidebar .stats-box{
        padding: 20px;
    }

    .left-sidebar .stats-box .stats-info{
        font-size: 32px;
    }

    .left-sidebar .stats-title{
        font-size: 12px;
    }

    .overall-active-case{
        margin-top: 10px;
    }

    .new-stats{
        padding-left: 25px;
        padding-right: 25px;
    }

    .new-stats li{
        text-align: left;
        width: 50%;
        margin-bottom: 5px;
    }

    .new-stats li:first-child{
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
    }

    .map-tab-nav{
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .map-tab-nav span{
        display: block!important;
        text-align: center!important;
        margin: 3px 5px!important;
    }

    .district #district,
    .division #division,
    .stats #stats{
        border-bottom: none;
        color: rgb(33, 73, 204);
        background-color: #EFF2F6;
    }

    table {
        width: 100%!important;
    }

    .overall-info li{
        width: 25%;
    }

    .overall-info li .info{
        min-height: 40px;
    }

    .statistic-table table th{
        font-size: 11px;
        padding:2px!important;
    }
    .statistic-table table td{
        font-size: 12px;
        padding:2px!important
    }

    .copyright-text{
        text-align: left;
        padding-left: 10px;
        line-height: 32px;
    }
}


