
body{
    font-size: 14px;
    line-height: 1.4;
}

.navbar-light .navbar-brand{
    padding: 0px;
}

.navbar{
    padding: 12px;
}

.navbar-brand.py-1{
    padding: 0!important;
}

.site-logo{
    max-height: 48px;
}

.header{
    padding: 15px 0;
    background: #F7F8FC;
}

.header .navbar-brand.py-1{
    color:#494855;
    font-size: 18;
}

footer .navbar-brand.py-1{
    color:#E0E1EF;
    font-size: 18;
}

.bc-image-1{
    background-image: url(../img/bannerSVG.svg);
    width: 100%;
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
    transition-duration: 2000ms;
}

.swiper-wrapper.dark-overlay{
    transition-duration: 2000ms;
}

.card-img-top{
    max-height: 240px;
}

.leaflet-container{
    height: calc(600px);
}

.tour-grid-item{
    background-color: #FFF;
    border-radius: 3px;
    box-shadow: 0px 2px 5px -1px rgba(0, 0, 0, 0.16);
}

.tour-grid-item:hover{
    box-shadow: 0px 2px 5px -1px rgba(0, 0, 0, 0.3);
}

.tour-grid-item a{
    color: #666;
    font-weight: 400;
}

.tour-grid-item a:hover{
    text-decoration: none;
}

.tour-grid-item img{
    border-radius: 3px 3px 0 0;
}

.tour-grid-item .content{
    text-align: left;
    padding: 15px;
}

.tour-grid-item .content p{
    margin-bottom: 0px;
}

footer .bg-gray-200 {
    background: #34495E!important;
    color: rgba(255, 255, 255, 0.8)!important;
}

footer .site-logo{
    margin-left: -21px;
}

footer .text-dark,
footer .text-muted,
footer .input-group-append .border-left-0 {
    color: rgba(255, 255, 255, 0.8)!important;
}

footer .border-dark,
footer .input-group-append .border-left-0{
    border-color: #f1f1f1!important;
}

section.tour-list .btn-tour,
section.place-list .btn-place{
    display: inline-block;
    max-width: 200px;
    margin-top: 10px;
}

section.place-list{
    background: #e9e5e0!important;
}

.overall-report {
    background: #F7F8FC;
    border-radius: 6px;
}

#current-map{
    background: #F7F8FC;
    padding: 20px;
    border-radius: 6px;
}

.overall-report .last-updated{
    font-size: 14px;
    font-weight: 500;
    padding: 10px 20px;
    border-bottom: 1px solid #E9E5E0;
    color: #AEAED5;
    margin-bottom: 0;
}

.stats-box{
    padding: 30px 20px;
    border-bottom: 1px solid #E9E5E0;
    align-items: center;
}

.stats-box .stats-title{
    color: rgb(73, 73, 85);
    margin-bottom: 0px;
    margin-top: 10px;
    font-weight: 700;
    font-size: 18px;
}

.stats-box .stats-info{
    font-weight: 700;
    line-height: 1.2;
    color: #222;
    font-size: 48px;
    margin-bottom: 0;
    letter-spacing: 1px;
}

.overall-infected .stats-box .stats-info{
    color: #fbb140;
}

.overall-recovered .stats-box .stats-info{
    color: #2dce89;
}

.overall-death .stats-box .stats-info{
    color: #f5365c;
}

.help-hotline .stats-box{
    padding: 20px;
}

.hotline-number{
    padding: 0;
    margin: 0;
    list-style: none;
}

.hotline-number .institute{
    margin-bottom: 20px;
}

.hotline-number .institute:last-child{
    margin-bottom: 0;
}

.hotline-number .institute span{
    display: block;
}

.hotline-number .institute .name{
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 5px;
    letter-spacing: .7px;
    color: rgb(73, 73, 85);
}

.hotline-number .institute .telephone a{
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    color: #00A650;
}

.hotline-number .institute .telephone a:hover{
    color: rgb(2, 99, 49);
}

.overall-report.right-sidebar-2{
    margin-top: 25px;
}

#BD_XXX_District_locator_map{
    cursor: pointer;
}

.map-color.hover-color path{
    fill:#938779;
    stroke: #938779;
}

#DistrictMap{
    margin-left: -18%;
}


.cases-top-1 path{
    fill: #ba0000;
    stroke: #ba0000;
}

.cases-top-2 path{
    fill: #FF645B;
    stroke: #FF645B;
}

.cases-top-3 path{
    fill: #FFA196;
    stroke: #FFA196;
}

path.cases-top-1{
    fill: #ba0000;
}

path.cases-top-2{
    fill: #FF645B;
}

path.cases-top-3{
    fill: #FF8B80;
}

path.cases-top-4{
    fill: #FFC2B0;
}

/* mobile device */
@media (max-width: 767.98px) {

    .left-sidebar>div{
        display: inline-block;
        width: 50%;
        border-left: 1px solid #E9E5E0;
    }

    .left-sidebar .stats-box{
        padding: 20px;
    }

    .left-sidebar .stats-box .stats-info{
        font-size: 32px;
    }

    .left-sidebar .stats-box .stats-title{
        margin-top: 8px;
        font-weight: 700;
        font-size: 14px;
    }

}


